.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6; /* This makes whitespace between paragraphs count */
  line-height: 105%;
}

.markdown h1 {
  @apply font-bold;
  padding-top: 5%;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  /* @apply text-2xl mt-8 mb-4 leading-snug; */
  margin-bottom: 5%;
}
