@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
    font-family: unifont;
    src: url(/assets/fonts/unifont.ttf) format('truetype');
}

body {
  background-color: #18191c;
  font-family: 'unifont', 'segoe ui', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 5%; */
}

div {
  max-width: 100%;
  width: 100%;
}

pre {
  font-family: 'unifont' !important;
  display: block;
}

pre, code {
  padding: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block; 
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
  width:100%; overflow-x:auto;
 }

p {
  line-height: 12pt;
}

h1 {
  font-size: 3em;
}

a {
  color: #02e2e2;
  text-decoration: none
}

li {
  display: inline;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.posts {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .posts {
      width: 70%;
  }

  .content {
    width: 50%;
  }

}

.blink {
  -webkit-animation: blink 2s infinite both;
          animation: blink 2s infinite both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.justify {
  text-align: justify;
}

.center {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline;
}

.align-center {
    align-items: center;
}

.text {
    color: #fff;
}

.blink {
    -webkit-animation: blink 2s infinite both;
            animation: blink 2s infinite both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.title {
    font-size: 4em;
    margin-bottom: 0.5em;
    display: block;
}

.post-list {
    min-height: 75vh;
}

.link-reset {
    text-decoration: none;
    color: #fff;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.socials-header {
  padding-top: 1%;
}